[submodule "game/engine/vendor/GLFW"]
	path = game/Syris/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "game/engine/vendor/imgui"]
	path = game/Syris/vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "game/Syris/vendor/spdlog"]
	path = game/Syris/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "game/Syris/vendor/hpx"]
	path = game/Syris/vendor/hpx
	url = https://github.com/STEllAR-GROUP/hpx.git
